<app-bindings></app-bindings>

<nav>
  <ul>
    <li>
      <a routerLink = "/binding">Bindings</a>&nbsp;&nbsp;
      <a routerLink = "/home">Home</a>&nbsp;&nbsp;
      <a routerLink = "/products">Products</a>&nbsp;&nbsp;
      <a routerLink = "/login-form">Login</a>&nbsp;&nbsp;
      <a routerLink = "/model-form">Signup</a>&nbsp;&nbsp;
      <a routerLink = "/pipes">Pipes</a>&nbsp;&nbsp;
      <a routerLink = "/parent">Parent</a>&nbsp;&nbsp;
      <a routerLink = "/structural-directive">structural-directive</a>&nbsp;&nbsp;
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>